@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* Header */
.header{
  background-image: url("logobg.jpg");
  background-position: 60px;
}
.header img{
  height:100px; 
  width:200px;
  padding-left: 40%;
}
/* Header Ending */

form.example input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 50px;
  box-sizing: border-box;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 15px;
  background: white;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 30px;
  box-sizing: border-box;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.menu {
  font-size: 18px;
  font-family: Consolas;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: black;
  border-radius: 50px;
  display:inline-block;
  width: 95%;

}


li {
  float: left;
}

/* Pets */

li a, .dropbtn-pets {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .pets-pets:hover .dropbtn-pets {
  background-color: gray;
  border-radius: 50px;
}

li.pets-pets {
  display: inline-block;
}

.content-pets {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.content-pets a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.content-pets a:hover {background-color: #f1f1f1;}

.pets:hover .content-pets {
  display: block;
}


/* Treats */
li a, .dropbtn-treats {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .treats:hover .dropbtn-treats {
  background-color: lightcoral;
}

li.treats {
  display: inline-block;
}

.content-treats {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.content-treats a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.content-treats a:hover {background-color: #f1f1f1;}

.treats:hover .content-treats {
  display: block;
}

.icon{
  margin: 15px;
  font-size: 20px;
}

.button{
  border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: lightslategray;
    border-radius: 30px;
}

  .banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .item{
    transition: transform .5s;
  }

  .item:hover{
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5); 
  }

  h1{
    background-color: #d8bfd8;
    width: 50%;
    border-radius: 50px;
    padding: 20px;
    font-size: 40px;
  }

  table{
    width: 100%;
    border-spacing: 20px;
    border-collapse: separate;
    border-radius: 20px;
  }
  
  tr td .petHome{
    width:85%;
    margin:0 auto;
  }
  
  .petHome tr td{
    width:33.33%;
    vertical-align: top;
  }
  
  .petHome tr td table{
    width:100;
    border-spacing:20; 
    margin: 0 auto; 
    background-color: #5f9ea0;
  }
  .pet_choice{
    padding-left: 40px;
  }
  .itemname{
    font-family: Franklin Gothic Medium;
    font-size: 25px;
  }
  
  .itemprice{
    font-family: Franklin Gothic Medium;; 
    font-size:20px;
    color: red;
  }
  
 